In [1]:
from pyspark.sql import SparkSession

# ✅ Create Spark session
spark = SparkSession.builder \
    .appName("Chh OLA Trip Test") \
    .config("spark.master", "local[*]") \
    .getOrCreate()

# ✅ Load CSV file
df = spark.read.csv("/app/data/chh_ola_trips.csv", header=True, inferSchema=True)

# ✅ Display basic info
print("Total rows:", df.count())
df.show(5)

# ✅ Basic summary
df.describe().show()

# ✅ Stop Spark session
spark.stop()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/11/10 06:47:09 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Total rows: 10000
+-----------+---------+---------+---------+---------+----------+--------+-----------+-------------------+--------------+---------+------------+-------------------+-----------+----------+--------+-------+------------+------+-----------+
|    trip_id|driver_id| rider_id|vendor_id|     city|pickup_loc|drop_loc|distance_km|        pickup_time|num_passengers|rate_code|payment_type|          drop_time|fare_amount|driver_tip|toll_amt|mta_tax|total_amount|rating|stored_flag|
+-----------+---------+---------+---------+---------+----------+--------+-----------+-------------------+--------------+---------+------------+-------------------+-----------+----------+--------+-------+------------+------+-----------+
|TRP00000001|DRV001310|RDR002615|        1|  Chennai|        63|       4|       4.75|2024-08-17 14:00:00|             1|        1|        Cash|2024-08-17 14:26:00|      101.6|       5.0|   31.12|   5.08|       142.8|   4.9|          Y|
|TRP00000002|DRV000229|RDR003614|        1|   Mumbai|        56|      66|      25.08|2024-08-14 18:24:00|             2|        1|        Cash|2024-08-14 19:50:00|     370.46|     53.28|     0.0|  18.52|      442.26|   4.6|          Y|
|TRP00000003|DRV000052|RDR000964|        1|Ahmedabad|        46|      99|      11.53|2024-12-02 00:54:00|             1|        1|         UPI|2024-12-02 01:38:00|     160.71|       0.0|     0.0|   8.04|      168.75|  NULL|          Y|
|TRP00000004|DRV001519|RDR002234|        1|   Mumbai|        44|       3|        8.3|2024-12-15 12:05:00|             1|        3|        Cash|2024-12-15 12:44:00|     145.43|      6.78|   14.34|   7.27|      173.82|   4.8|          Y|
|TRP00000005|DRV000564|RDR001224|        1|Hyderabad|        33|      54|       2.36|2024-12-09 13:37:00|             2|        1|      Wallet|2024-12-09 13:56:00|      64.07|      6.31|     0.0|    3.2|       73.58|   3.4|          Y|
+-----------+---------+---------+---------+---------+----------+--------+-----------+-------------------+--------------+---------+------------+-------------------+-----------+----------+--------+-------+------------+------+-----------+
only showing top 5 rows

25/11/10 06:47:32 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+-----------+---------+---------+------------------+---------+------------------+------------------+-----------------+-----------------+------------------+------------+------------------+------------------+------------------+-----------------+------------------+------------------+-----------+
|summary|    trip_id|driver_id| rider_id|         vendor_id|     city|        pickup_loc|          drop_loc|      distance_km|   num_passengers|         rate_code|payment_type|       fare_amount|        driver_tip|          toll_amt|          mta_tax|      total_amount|            rating|stored_flag|
+-------+-----------+---------+---------+------------------+---------+------------------+------------------+-----------------+-----------------+------------------+------------+------------------+------------------+------------------+-----------------+------------------+------------------+-----------+
|  count|      10000|    10000|    10000|             10000|    10000|             10000|             10000|            10000|            10000|             10000|       10000|             10000|             10000|             10000|            10000|             10000|              9029|      10000|
|   mean|       NULL|     NULL|     NULL|            1.4865|     NULL|           50.6787|           50.6533|8.820011999999993|           1.9027|            1.9088|        NULL|150.67009200000007| 7.917502999999994|          9.125183|7.533532999999948|175.24631100000028|3.9947613246206792|       NULL|
| stddev|       NULL|     NULL|     NULL|0.4998427095331367|     NULL|28.764120076414265|28.979801276030166|7.795241035281454|1.132148791497218|1.3485045073861066|        NULL| 94.98403376293574|10.190318526629024|15.230076567428563|4.749210554186851|106.08285679162175|0.5793811927672539|       NULL|
|    min|TRP00000001|DRV000001|RDR000001|                 1|Ahmedabad|                 1|                 1|              1.0|                1|                 1|        Cash|             33.06|               0.0|               0.0|             1.65|             36.06|               3.0|          N|
|    max|TRP00010000|DRV002000|RDR005000|                 2|     Pune|               100|               100|            66.38|                6|                 6|      Wallet|            828.34|             98.28|             49.99|            41.42|            965.08|               5.0|          Y|
+-------+-----------+---------+---------+------------------+---------+------------------+------------------+-----------------+-----------------+------------------+------------+------------------+------------------+------------------+-----------------+------------------+------------------+-----------+